body {
    font-family: Garamond, "Apple Garamond", serif;
    background-color: #F8F5F2; 
    color: #232946;            
}

a {
    color: #7180AC;            
}

table, th, td {
    border: 1px solid #232946; 
}

h1, h2 {
    color: #2D334A;     
}

.evenrow {
    background-color: #E8E4E1; 
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

nav {
    background-color: #E8E4E1;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #232946;
}

nav a:hover {
    background-color: #869D7A;
}

.motto {
    float: right;
}

.contact-row {
    display: flex; 
    margin: 20px; 
    gap: 20px; 
    flex-wrap: wrap;
    background-color: #ffffff; 
    border-radius: 1em; 
}

.contact-col {
    flex: 1; 
    padding: 20px; 
}

.map-container iframe {
    width: 100%; 
}

/* Lab 10: Flexible Image Size */
.responsive-img {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    
    nav a {
        display: block;
        width: 100%;
        padding: 10px 0; 
        margin-bottom: 5px; 
    }
    
    nav span {
        display: none;
    }
}